<template>
  <div class="social-auth">
    <b-button
      block
      variant="light"
      class="btn--social btn--facebook"
    >
      Facebook ile Bağlan
    </b-button>
  </div>
</template>

<script>
export default {
	name: "SocialAuth"
};
</script>
