// Media Query Mixins
@mixin media-min($breakpoint: $md) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-max($breakpoint: $md) {
  @media (max-width: $breakpoint - 0.02px) {
    @content;
  }
}

@mixin media-between($min, $max) {
  @media (min-width: $min) and (max-width: $max - 0.02px) {
    @content;
  }
}
