// Media Breakpoints
$xs: 0px !default;
$sm: 576px !default;
$md: 768px !default;
$lg: 992px !default;
$xl: 1200px !default;

$breakpoints: () !default;

$breakpoints: map-merge(
  ("sm": $sm,
    "md": $md,
    "lg": $lg,
    "xl": $xl
  ),
  $breakpoints);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
