<template>
  <div class="user">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <b-card
            img-top
            no-body
          >
            <div class="embed-responsive embed-responsive-21by9">
              <b-card-img-lazy
                class="embed-responsive-item"
                :src="require('@img/reg.jpg')"
                blank-color="#FFC700"
              />
            </div>

            <b-card-body>
              <!-- PROFILE IMAGE -->
              <div class="user__image">
                <img
                  src="@img/pp.jpg"
                  alt=""
                >
              </div>
              <!-- /PROFILE IMAGE -->
              <b-card-title class="text-center">
                {{ `${totalData.name} ${totalData.surname}` }}
              </b-card-title>
              <b-card-sub-title class="mb-2 text-center">
                {{ `${totalData.companyName }` }}
              </b-card-sub-title>
            </b-card-body>

            <b-list-group flush>
              <b-list-group-item to="/">
                Kontrol Paneli
              </b-list-group-item>
              <b-list-group-item to="/">
                Profil
              </b-list-group-item>
              <b-list-group-item to="/">
                Mesajlar
                <b-badge
                  variant="primary"
                  pill
                >
                  2
                </b-badge>
              </b-list-group-item>
              <b-list-group-item to="/">
                Ayarlar
              </b-list-group-item>
            </b-list-group>

            <b-footer>
              <div class="px-2 py-1 text-center">
                <small class="font-weight-medium text-secondary">
                  Son aktivite:
                  <time
                    datetime="2011-11-11 21:00"
                    class="text-success"
                  >11 Ara 2011, 21:00</time>
                </small>
              </div>
            </b-footer>
          </b-card>
        </div>

        <div class="col-12 col-md-8 mt-4 mt-md-0">
          <b-button-group class="btn-group--action">
            <b-button variant="outline-light">
              X Oluştur
            </b-button>
            <b-button variant="outline-light">
              Y Oluştur
            </b-button>
            <b-button variant="outline-light">
              Z Oluştur
            </b-button>
          </b-button-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "User",
  metaInfo() {
    return {
      titleTemplate: "Profilim | %s"
    };
  },
  computed: {
    totalData() {
      return Object.assign(
        JSON.parse(localStorage.getItem("user_data")),
        JSON.parse(localStorage.getItem("signup_data"))
      );
    }
  }
};
</script>
