<template>
  <div class="step-two pb-3">
    <header class="text-center">
      <h1>
        Firma Bilgileri
      </h1>
      <p class="text-muted">
        Aşağıdaki bilgileri doldurarak ilerleyin
      </p>
    </header>

    <ValidationProvider
      v-slot="{ valid, errors }"
      name="Firma Adı"
      rules="required|min:2"
      slim
    >
      <b-form-group
        label="Firma Adı"
        label-for="company-name"
      >
        <b-form-input
          id="company-name"
          v-model="company_name"
          :state="errors[0] ? false : valid ? true : null"
          required
        />
        <b-form-invalid-feedback>
          {{ errors[0] }}
        </b-form-invalid-feedback>
      </b-form-group>
    </ValidationProvider>

    <ValidationProvider
      v-slot="{ valid, errors }"
      name="Firma Adresi"
      rules="required|min:4"
      slim
    >
      <b-form-group
        label="Firma Adresi"
        label-for="company-address"
      >
        <b-form-textarea
          id="company-address"
          v-model="company_address"
          :state="errors[0] ? false : valid ? true : null"
          debounce="500"
          rows="3"
          max-rows="3"
          required
        />
        <b-form-invalid-feedback>
          {{ errors[0] }}
        </b-form-invalid-feedback>
      </b-form-group>
    </ValidationProvider>

    <div class="d-flex flex-column flex-lg-row align-items-start justify-content-between">
      <ValidationProvider
        v-slot="{ valid, errors }"
        name="Firma Telefon Numarası"
        rules="required|digits:10|max:10"
        slim
      >
        <div class="phone-wrapper">
          <b-form-group
            label="Firma Telefon Numarası"
            label-for="company-phone"
            description="Örn. 312 XXX XX XX"
          >
            <cleave
              id="company-phone"
              ref="cleave"
              v-model="company_phone"
              :options="cleaveOptions"
              class="form-control"
              :class="errors[0] ? 'is-invalid' : valid ? 'is-valid' : null"
              name="company-phone"
            />
            <b-form-invalid-feedback>
              {{ errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </div>
      </ValidationProvider>

      <div class="website-wrapper">
        <b-form-group
          label="Firma İnternet Adresi"
          label-for="company-website"
        >
          <b-form-input
            id="company-website"
            v-model="company_website"
            :state="websiteState"
            required
          />
          <b-form-invalid-feedback :state="websiteState">
            Lütfen geçerli bir web adresi girin
          </b-form-invalid-feedback>
        </b-form-group>
      </div>
    </div>

    <footer class="d-flex align-items-center justify-content-between">
      <b-link @click="$router.push({ name: 'ProfessionFormStepOne' })">
        <fa5-icon
          class="mr-1 fa-sm"
          :icon="['far', 'chevron-left']"
        />
        Geri
      </b-link>
      <b-button
        class="ml-auto px-3"
        variant="primary"
        type="submit"
        @click="handleStepTwo"
      >
        İleri
        <fa5-icon
          class="ml-2 fa-sm"
          :icon="['far', 'chevron-right']"
        />
      </b-button>
    </footer>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Cleave from "vue-cleave-component";
import "cleave.js/dist/addons/cleave-phone.tr";

export default {
  name: "ProfessionFormStepTwo",
  components: {
    Cleave
  },
  data() {
    return {
      websiteState: null,
      cleaveOptions: {
        phone: true,
        phoneRegionCode: "TR"
      },
      // Company Data
      company_name: "",
      company_address: "",
      company_phone: null,
      company_website: ""
    };
  },
  watch: {
    company_website(newVal) {
      if (newVal.length) {
        this.websiteState = /^[a-z0-9.-]+\.[a-z]{2,}$/.test(
          this.company_website
        );
      } else {
        this.websiteState = null;
      }
    }
  },
  methods: {
    handleStepTwo() {
      this.$store.dispatch("professionForm/setCompanyData", {
        company_name: this.company_name,
        company_address: this.company_address,
        company_phone: this.company_phone,
        company_website: this.company_website
      });
    }
  }
};
</script>
