<template>
  <div class="client container pt-5">
    <transition
      name="fade"
      mode="out-in"
    >
      <router-view />
    </transition>
  </div>
</template>

<script>
export default {
  name: "ClientLayout"
};
</script>
