$alert-default: $gray-100;

[class*="alert-"].hard-typed {
	padding-left: 3.25rem;
	position: relative;
	border: 1px solid $alert-default;
	background: mix(white, $alert-default, 97.5%);
	color: mix(black, $alert-default, 67.5%);

	&::before {
		content: "";
		position: absolute;
		top: 0.875rem;
		left: 0.875rem;
		width: 1.5rem;
		height: 1.5rem;
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='#{rgba($info, 0.99)}' d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z'/%3E%3C/svg%3E");
	}
}
