.Password {
	max-width: unset !important;

	&__strength-meter {
		margin: 0 !important;
		background: $light !important;

		&--fill[data-score="0"] {
			background: $red !important;
		}

		&--fill[data-score="1"] {
			background: $orange !important;
		}

		&--fill[data-score="2"] {
			background: $yellow !important;
		}

		&--fill[data-score="3"] {
			background: $green !important;
		}

		&--fill[data-score="4"] {
			background: $teal !important;
		}
	}
}

.password-toggler {
	height: 38px;
	border: 1px solid #CFD8DC;
	padding-left: 0.675rem;
	padding-right: 0.675rem;
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;

	&:focus,
	&:active {
		z-index: 4;
	}
}
