@include media-min($lg) {
  .radio-box {

    width: calc(100% - 1rem);
    margin: 0.5rem;
    padding: 0;
    display: inline-flex;
    align-items: stretch;
    justify-content: stretch;
    user-select: none;
    position: relative;

    @include media-min($md) {
      width: calc(100% / 3 - 1rem);
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 67.25%;
    }

    .custom-control {
      padding: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .custom-control-label {
      // stylelint-disable-next-line property-blacklist
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $transition-base;
      cursor: pointer;
      border: 1px solid $input-border-color;
      border-radius: 4px;
      font-size: 1.25rem;
      color: $gray-800;
      text-align: center;

      &:hover {
        border-color: mix(white, $success, 50%);
      }
    }

    .custom-control-label::before,
    .custom-control-label::after {
      // stylelint-disable-next-line property-blacklist
      display: none;
    }

    .custom-control-input:checked~.custom-control-label {
      color: mix(black, $secondary, 10%);
      border-color: $secondary;
      background-color: mix(white, $secondary, 97.5%);
    }

    .custom-control-input:checked~.custom-control-label {
      &::after {
        display: none;
      }
    }

    .custom-control-input:disabled {
      &:checked~.custom-control-label::before {
        background-color: $custom-control-indicator-checked-disabled-bg;
      }
    }

    &-text {
      position: absolute;
      bottom: 1rem;
      left: 0;
      padding: 0 1rem;
      width: 100%;
      font-size: 0.75rem;
      z-index: 0;
      color: $gray-400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
    }
  }
}

@include media-max($lg) {
  .radio-box {

    &:not(:first-child) {
      margin-top: 1rem;
    }

    &-text {
      padding-left: 1.675rem;
      font-size: 0.875rem;
      font-weight: 500;
      color: $gray-500;
    }
  }
}
