.social-auth {

	.btn {
		position: relative;
		background: white;
		border-color: $input-border-color;
		color: $gray-500;

		&::before {
			content: "";
			position: absolute;
			width: 24px;
			height: 24px;
			top: 50%;
			left: 16px;
			transform: translateY(-50%);
		}

		&--google {

			&::before {
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%234285F4' d='M24 12.2667c0-.9867-.0817-1.7067-.2585-2.45337H12.2449v4.45327h6.7482c-.136 1.1067-.8707 2.7734-2.5034 3.8933l-.0228.1491 3.635 2.7597.2518.0247C22.6666 19 24 15.92 24 12.2667z'/%3E%3Cpath fill='%2334A853' d='M12.2449 24c3.3061 0 6.0816-1.0667 8.1088-2.9067l-3.8639-2.9334c-1.034.7067-2.4218 1.2-4.2449 1.2-3.23808 0-5.98636-2.0932-6.96604-4.9866l-.1436.012-3.77974 2.8667-.04943.1346C3.31968 21.3066 7.45574 24 12.2449 24z'/%3E%3Cpath fill='%23FBBC05' d='M5.27885 14.3733c-.25849-.7466-.4081-1.5467-.4081-2.3733 0-.8267.14961-1.6267.3945-2.37333l-.00684-.15902-3.8271-2.91272-.12522.05837C.476195 8.23999 0 10.0667 0 12c0 1.9333.476195 3.7599 1.30609 5.3866l3.97276-3.0133z'/%3E%3Cpath fill='%23EB4335' d='M12.2449 4.63997c2.2993 0 3.8503.97333 4.7347 1.78672L20.4353 3.12C18.3129 1.18667 15.551 0 12.2449 0 7.45574 0 3.31968 2.69332 1.30609 6.61329l3.95917 3.01338c.99329-2.89333 3.74156-4.9867 6.97964-4.9867z'/%3E%3C/svg%3E");
			}
		}

		&--facebook {

			&::before {
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%233B5998' d='M22.6753 24c.7315 0 1.3246-.5931 1.3246-1.3246V1.32459C23.9999.592966 23.4068 0 22.6753 0H1.32459C.592873 0 0 .592966 0 1.32459V22.6754C0 23.4069.592873 24 1.32459 24H22.6753z'/%3E%3Cpath fill='%23fff' d='M16.5595 24v-9.2941h3.1197l.467-3.622h-3.5867V8.77131c0-1.04868.2913-1.76333 1.7951-1.76333l1.918-.00085V3.76762c-.3319-.04416-1.4704-.14278-2.7949-.14278-2.7654 0-4.6586 1.68796-4.6586 4.78788v2.67118H9.69147v3.622h3.12763V24h3.7404z'/%3E%3C/svg%3E");
				transition: all .15s ease-in-out;
			}
		}

		&:hover,
		&:focus {
			background-color: #3B5998 !important;
			border-color: #3B5998 !important;
			color: white !important;

			&::before {
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFF' d='M22.6753 24c.7315 0 1.3246-.5931 1.3246-1.3246V1.32459C23.9999.592966 23.4068 0 22.6753 0H1.32459C.592873 0 0 .592966 0 1.32459V22.6754C0 23.4069.592873 24 1.32459 24H22.6753z'/%3E%3Cpath fill='%233B5998' d='M16.5595 24v-9.2941h3.1197l.467-3.622h-3.5867V8.77131c0-1.04868.2913-1.76333 1.7951-1.76333l1.918-.00085V3.76762c-.3319-.04416-1.4704-.14278-2.7949-.14278-2.7654 0-4.6586 1.68796-4.6586 4.78788v2.67118H9.69147v3.622h3.12763V24h3.7404z'/%3E%3C/svg%3E");
			}
		}

		&:active {
			background-color: mix(black, #3B5998, 8%) !important;
			color: white !important;
		}
	}
}
