<template>
  <div class="container">
    <div class="row">
      <b-form
        class="col-12 pt-5"
        novalidate
        @submit.stop.prevent="handleLogin"
      >
        <h1 class="text-center mb-5">
          Şifrenizi Sıfırlayın
        </h1>

        <b-alert
          show
          class="hard-typed mb-5"
        >
          Aşağıdaki formu gönderdikten sonra şifrenizi sıfırlamanız için
          tarafınıza bir e-posta gönderilecektir. E-postanın içindeki linke
          tıklayarak şifrenizi sıfırlayabilir ve yeni şifrenizi
          kaydedebilirsiniz.
        </b-alert>

        <b-form-group
          label="E-Posta"
          label-for="email"
        >
          <b-form-input
            id="email"
            v-model="email"
            :state="emailState"
            type="email"
            required
          />
          <b-form-invalid-feedback :state="emailState">
            Lütfen düzgün bir e-posta adresi girin
          </b-form-invalid-feedback>
        </b-form-group>

        <b-button
          block
          size="lg"
          variant="primary"
          class="mt-4"
          type="submit"
        >
          Sıfırlama E-Postası Gönder
        </b-button>
      </b-form>
    </div>

    <div class="d-flex align-items-center my-4">
      <div class="hr" />
      <div class="or px-3">
        veya
      </div>
      <div class="hr" />
    </div>

    <div
      class="d-flex align-items-center justify-content-between"
    >
      <b-link
        class="btn btn-outline-secondary btn-block m-0"
        :to="{ name: 'Register' }"
      >
        Kayıt Ol
      </b-link>
      <b-link
        class="btn btn-secondary btn-block m-0 ml-4"
        :to="{ name: 'Login' }"
      >
        Giriş Yap
      </b-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "ForgotPassword",
  metaInfo() {
    return {
      titleTemplate: "Şifreni Sıfırla | %s"
    };
  },
  data() {
    return {
      email: "",
      emailState: null
    };
  },
  watch: {
    email(newVal) {
      if (newVal.length) {
        this.emailState = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
          this.email
        );
      } else {
        this.emailState = null;
      }
    }
  }
};
</script>
