<template>
  <div class="container">
    <div class="row">
      <ValidationObserver
        ref="observer"
        v-slot="{ passes }"
        slim
      >
        <b-form
          class="col-12 py-5"
          novalidate
          @submit.stop.prevent="passes(handleLogin)"
        >
          <h1 class="text-center mb-5">
            Giriş Yapın
          </h1>

          <social-auth />

          <div class="d-flex align-items-center mt-4 mb-3">
            <div class="hr" />
            <div class="or px-3">
              veya
            </div>
            <div class="hr" />
          </div>

          <ValidationProvider
            v-slot="{ valid, errors }"
            name="E-Posta"
            rules="required|email"
          >
            <b-form-group
              label="E-Posta"
              label-for="email"
            >
              <b-form-input
                id="email"
                v-model="email"
                type="email"
                required
                :state="errors[0] ? false : valid ? true : null"
              />
              <b-form-invalid-feedback>
                {{ errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </ValidationProvider>

          <ValidationProvider
            v-slot="{ valid, errors }"
            name="Şifre"
            rules="required|min:6"
          >
            <b-form-group
              label="Şifre"
              label-for="password"
            >
              <b-input-group>
                <b-form-input
                  id="password"
                  v-model="password"
                  :type="showPwd ? 'text' : 'password'"
                  minlength="6"
                  required
                  :state="errors[0] ? false : valid ? true : null"
                />
                <b-input-group-append>
                  <b-button
                    variant="light"
                    class="password-toggler"
                    @click="showPwd = !showPwd"
                  >
                    <fa5-icon
                      class="fa-fw"
                      :icon="['fas', !showPwd ? 'eye' : 'eye-slash']"
                    />
                  </b-button>
                </b-input-group-append>
                <b-form-invalid-feedback>
                  {{ errors[0] }}
                </b-form-invalid-feedback>
              </b-input-group>
            </b-form-group>
          </ValidationProvider>

          <b-button
            block
            size="lg"
            variant="primary"
            class="mt-4"
            type="submit"
          >
            Giriş Yap
          </b-button>

          <b-link
            class="d-block text-center mt-3"
            :to="{ name: 'ForgotPassword' }"
          >
            Şifremi unuttum
          </b-link>

          <span class="d-block w-100 text-center mt-5">
            Üye değil misiniz?
            <b-link
              class="d-block"
              :to="{ name: 'Register' }"
            >
              Ücretsiz kayıt olun
            </b-link>
          </span>
        </b-form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
import SocialAuth from "@components/SocialAuth";

export default {
  name: "Login",
  metaInfo() {
    return {
      titleTemplate: "Giriş Yap | %s"
    };
  },
  components: {
    SocialAuth
  },
  data() {
    return {
      email: "",
      password: "",
      emailState: null,
      passwordState: null,
      showPwd: false
    };
  },
  methods: {
    handleLogin() {
      const signupData = JSON.parse(localStorage.getItem("signup_data"));

      if (signupData !== null) {
        this.$router.push({ name: "UserLayout" });
        const { email, password } = signupData;


        if (email === this.email && password === this.password) {
          alert("OK!");
          this.$router.push({ name: "User" });
        } else {
          alert("Wrong credentials!");
        }
      } else {
        alert("signupData === null");
      }
    }
  }
};
</script>
