<template>
  <div class="container">
    <div class="row">
      <ValidationObserver
        ref="observer"
        v-slot="{ passes }"
        slim
      >
        <b-form
          class="col-12 py-5"
          novalidate
          @submit.stop.prevent="passes(handleRegister)"
        >
          <h1 class="text-center mb-5">
            Ücretsiz Kayıt Olun
          </h1>

          <social-auth />

          <div class="d-flex align-items-center mt-4 mb-3">
            <div class="hr" />
            <div class="or px-3">
              veya
            </div>
            <div class="hr" />
          </div>

          <ValidationProvider
            v-slot="{ valid, errors }"
            name="Ad"
            rules="required|min:2|alpha_spaces"
          >
            <b-form-group
              label="Ad"
              label-for="name"
            >
              <b-form-input
                id="name"
                v-model="name"
                required
                minlength="2"
                :state="errors[0] ? false : valid ? true : null"
              />
              <b-form-invalid-feedback>
                {{ errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </ValidationProvider>

          <ValidationProvider
            v-slot="{ valid, errors }"
            name="Soyad"
            rules="required|min:2|alpha_spaces"
          >
            <b-form-group
              label="Soyad"
              label-for="surname"
            >
              <b-form-input
                id="surname"
                v-model="surname"
                required
                minlength="2"
                :state="errors[0] ? false : valid ? true : null"
              />
              <b-form-invalid-feedback>
                {{ errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </ValidationProvider>

          <ValidationProvider
            v-slot="{ valid, errors }"
            name="E-Posta"
            rules="required|email"
          >
            <b-form-group
              label="E-Posta"
              label-for="email"
            >
              <b-form-input
                id="email"
                v-model="email"
                type="email"
                required
                :state="errors[0] ? false : valid ? true : null"
              />
              <b-form-invalid-feedback>
                {{ errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </ValidationProvider>

          <ValidationProvider
            v-slot="{ valid, errors }"
            name="Şifre"
            rules="required|min:6"
          >
            <b-form-group
              label="Şifre"
              label-for="password"
            >
              <b-input-group>
                <b-form-input
                  id="password"
                  v-model="password"
                  :type="showPwd ? 'text' : 'password'"
                  required
                  minlength="6"
                  :state="errors[0] ? false : valid ? true : null"
                />
                <b-input-group-append>
                  <b-button
                    variant="light"
                    class="password-toggler"
                    @click="showPwd = !showPwd"
                  >
                    <fa5-icon
                      class="fa-fw"
                      :icon="['fas', !showPwd ? 'eye' : 'eye-slash']"
                    />
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
            <password
              v-model="password"
              :strength-meter-only="true"
            />
            <b-form-invalid-feedback>
              {{ errors[0] }}
            </b-form-invalid-feedback>
          </ValidationProvider>

          <b-button
            block
            size="lg"
            variant="primary"
            class="mt-4"
            type="submit"
          >
            <template v-if="!loading">
              Kayıt Ol
            </template>
            <template v-else>
              <b-spinner small />
            </template>
          </b-button>

          <p class="mt-3 text-center">
            Sisteme kayıt olarak,
            <a
              class="text-primary"
              href="javascript:void(0)"
            >
              Kullanım Koşulları</a>'nı ve
            <a
              class="text-primary"
              href="javascript:void(0)"
            >
              Gizlilik Politikası </a>'nı kabul etmiş olursunuz.
          </p>

          <span class="d-block w-100 text-center mt-5">
            Üye misiniz?
            <b-link
              class="d-block"
              :to="{ name: 'Login' }"
            >
              Giriş yapın
            </b-link>
          </span>
        </b-form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
import SocialAuth from "@components/SocialAuth";
import Password from "vue-password-strength-meter";

export default {
  name: "Register",
  metaInfo() {
    return {
      titleTemplate: "Ücretsiz Kayıt Ol | %s"
    };
  },
  components: {
    SocialAuth,
    Password
  },
  data() {
    return {
      name: "",
      surname: "",
      email: "",
      password: "",
      showPwd: false,
      loading: false
    };
  },
  methods: {
    async handleRegister() {
      this.loading = true;

      let { name,surname,email,password } = this;

      let form = { name,surname,email,password };

      await localStorage.setItem("signup_data", JSON.stringify(form));

      return new Promise((resolve, reject) => {
        setTimeout(() => {
          this.$router.push({ name: "ProfessionForm" });
        }, 1000);
      });
    }
  }
};
</script>
