<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  />
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1.0"
  />
  <link
    rel="icon"
    href="<%= BASE_URL %>favicon.ico"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/aos@next/dist/aos.css"
  />
  <title>İnşaatçım™</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but insaatcim-v2 doesn't work properly without
      JavaScript
      enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
