<template>
  <div class="step-one">
    <header class="text-center">
      <h1>
        Mesleğiniz Nedir?
      </h1>
      <p class="text-muted">
        Aşağıdaki mesleklerden birini seçerek devam edin
      </p>
      <b-alert
        variant="danger"
        show
      >
        Daha sonra değiştirilemez!
      </b-alert>
    </header>

    <b-form-group required>
      <div class="radio-box">
        <b-form-radio
          v-model="selected"
          name="professions"
          value="A"
        >
          Müteahhit
        </b-form-radio>
      </div>

      <div class="radio-box">
        <b-form-radio
          v-model="selected"
          name="professions"
          value="B"
        >
          Taşeron
        </b-form-radio>
      </div>

      <div class="radio-box">
        <b-form-radio
          v-model="selected"
          name="professions"
          value="C"
        >
          Tedarikçi
        </b-form-radio>
        <span class="radio-box-text">
          Üretici, Distrübitör, İthalatcı vb.
        </span>
      </div>

      <div class="radio-box">
        <b-form-radio
          v-model="selected"
          name="professions"
          value="D"
        >
          Profesyonel
        </b-form-radio>
        <span class="radio-box-text">
          OSGB, Müh.-Mimarlık Ofisleri vb.
        </span>
      </div>

      <div class="radio-box">
        <b-form-radio
          v-model="selected"
          name="professions"
          value="E"
        >
          İş Makinesi Sahibi
        </b-form-radio>
      </div>

      <div class="radio-box">
        <b-form-radio
          v-model="selected"
          name="professions"
          value="F"
        >
          Bireysel Kullanıcı
        </b-form-radio>
      </div>
    </b-form-group>

    <footer class="d-flex align-items-center justify-content-between mx-2">
      <b-link to="/">
        <fa5-icon
          class="mr-1 fa-sm"
          :icon="['far', 'chevron-left']"
        />
        Anasayfa
      </b-link>
      <b-button
        v-if="selected"
        class="ml-auto px-3"
        variant="primary"
        type="submit"
      >
        İleri
        <fa5-icon
          class="ml-2 fa-sm"
          :icon="['far', 'chevron-right']"
        />
      </b-button>
    </footer>
  </div>
</template>

<script>
export default {
  name: "ProfessionFormStepOne",
  data() {
    return {
      selected: ""
    };
  },
  computed: {
    setSelected: {
      get() {
        return this.$store.state.professionForm.profession;
      },
      set(newVal) {
        this.selected = newVal;
      }
    }
  },
  watch: {
    selected(newVal) {
      if (newVal) {
        this.$store.dispatch("professionForm/setProfession", newVal);
        this.$emit("profession-selected", true);
      }
    }
  }
};
</script>
