<template>
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Home</h1>
          <b-button
            title="Giriş Yap"
            :to="{ name: 'Login' }"
          >
            Giriş Yap
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {}
};
</script>
