@include media-max($lg) {
  .step-one {

    fieldset {
      border: 1px solid $gray-100;
      border-radius: 0.25rem;
      padding: 1.5rem;
    }
  }
}

@include media-max($lg) {
  .phone-wrapper,
  .website-wrapper {
    width: 100%;
  }
}

@include media-min($lg) {
  .phone-wrapper {
    width: 240px;
  }

  .website-wrapper {
    width: calc(100% - 240px - 1.5rem);
  }
}
