.register {

  &--left,
  &--right {
    width: 100%;
  }

  &--left {
    height: calc(100vh - 62px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  &--right {
    position: relative;
    height: calc(100vh - 62px);
    background-image:
      linear-gradient(rgba($dark, 0.25),
        rgba($dark, 0.25)),
      url("~@img/reg.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    display: none;

    @include media-min($xl) {
      display: unset;
    }
  }

  &-wrapper {
    max-width: 480px;
    @extend .mx-auto;
  }
}
