.user {

  .card {

    .list-group-item {
      border-color: $light !important;
      border-width: 1px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:first-child) {
        margin-top: -1px;
      }

      &-action {
        position: relative;
        transition: $transition-base;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          background: transparent;
        }

        &:hover,
        &:focus {
          background: $light;
          color: $dark;
        }

        &:active {

          &:before {
            background: $primary;
          }
        }
      }
    }

    &-body {
      position: relative !important;
      padding-top: 4rem;
    }
  }

  &__image {
    width: 7rem;
    height: 7rem;
    border-radius: 1000rem;
    overflow: hidden;
    border: 2px solid $light;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 7rem;
      height: 7rem;
      object-fit: cover;
    }
  }

  .btn-group {
    width: 100%;

    &--action {

      .btn-outline-light {
        color: $dark !important;
      }
    }
  }
}
