<template>
  <ValidationObserver
    ref="observer"
    v-slot="{ passes }"
  >
    <b-form
      ref="form"
      class="profession-form"
      novalidate
      @submit.stop.prevent="passes(handleSubmit)"
    >
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
          <transition
            name="fade"
            mode="out-in"
          >
            <keep-alive>
              <router-view @profession-selected="isProfessionSelected" />
            </keep-alive>
          </transition>
        </div>
      </div>
    </b-form>
  </ValidationObserver>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ProfessionForm",
  metaInfo() {
    return {
      titleTemplate: "Kaydınızı Tamamlayın | %s"
    };
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (
        vm.professionSelected === false &&
        to.name !== "ProfessionFormStepOne"
      ) {
        vm.$router.push({ name: "ProfessionFormStepOne" });
      }
    });
  },
  data() {
    return {
      professionSelected: false,
      steps: [
        {
          step: "1",
          name: "ProfessionFormStepOne",
          validated: false
        },
        {
          step: "2",
          name: "ProfessionFormStepTwo",
          validated: false
        },
        {
          step: "3",
          name: "ProfessionFormStepThree",
          validated: false
        }
      ]
    };
  },
  computed: {
    stepIndex() {
      return this.steps.findIndex(e => e.name === this.$route.name);
    },
    ...mapState(["professionForm"])
  },
  methods: {
    isProfessionSelected(value) {
      this.professionSelected = value;
    },
    handleSubmit() {
      if (this.steps.length > this.stepIndex + 1) {
        this.$router.push({ name: this.steps[this.stepIndex + 1].name });
      } else {
        localStorage.setItem("user_data", JSON.stringify(this.professionForm));
        this.$root.$bvToast.toast("Üyeliğiniz başarıyla oluşturuldu!",{
          title: "BootstrapVue Toast",
          autoHideDelay: 5000,
          appendToast: false
        });
        this.$router.push({ name: "User" });
      }
    }
  }
};
</script>
