<template>
  <div id="app">
    <b-navbar
      fixed="top"
      toggleable="md"
      variant="white"
      type="light"
      class="px-lg-5"
    >
      <b-navbar-brand href="#">
        <img
          class="img--logo"
          src="@img/insaatcim.png"
          height="36"
        >
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse" />

      <b-collapse
        id="nav-collapse"
        is-nav
      >
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              Dropdown
            </template>
            <b-dropdown-item href="#">
              Profile
            </b-dropdown-item>
            <b-dropdown-item href="#">
              Sign Out
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <div class="main-wrapper">
      <transition
        name="fade"
        mode="out-in"
      >
        <router-view />
      </transition>
    </div>
  </div>
</template>

<script>
export default {
	name: "App",
  metaInfo() {
		return {
			title: "İnşaatçım",
			titleTemplate: "İnşaattaki yardımcın | %s"
		};
	}
};
</script>
