html,
body,
#app {
  min-height: 100vh;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.main-wrapper {
  padding-top: 62px;
}

.img--logo {
  max-width: 16rem;
}

.hr {
  height: 1px;
  width: 100%;
  background: $input-border-color;
  margin: 0;
  padding: 0;
}

.error-label {
  box-sizing: border-box;
  color: $danger;
  display: block;
  font-size: 80%;
  margin-top: .25rem;
  width: 100%;
}

.card {
  border-width: 2px;
  border-color: $light !important;
}

.embed-responsive {

  img {
    object-fit: cover;
  }
}
