@import url('https://rsms.me/inter/inter.css');

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $gray-900;
}

a,
.font-weight-medium,
.font-weight-500 {
  font-weight: 500;
}

.font-weight-semibold,
.font-weight-600 {
  font-weight: 600;
}
