<template>
  <div class="register">
    <div class="d-flex align-items-stretch">
      <div class="register--left">
        <!-- ROUTES -->
        <div class="register-wrapper">
          <transition
            name="fade"
            mode="out-in"
          >
            <router-view />
          </transition>
        </div>
        <!-- /ROUTES -->
      </div>

      <div class="register--right" />
    </div>
  </div>
</template>

<script>
export default {
  name: "AuthLayout"
};
</script>
