<template>
  <div class="step-two mx-2 pb-3">
    <header class="text-center">
      <h1>İş Bilgileri</h1>
      <p class="text-muted">
        Aşağıdaki bilgileri doldurarak kaydınızı tamamlayın
      </p>
    </header>

    <ValidationProvider
      v-slot="{ valid, errors, classes }"
      name="Bulunduğunuz Şehir"
      rules="required"
      slim
    >
      <b-form-group
        label="Bulunduğunuz Şehir"
        label-for="city"
      >
        <v-select
          v-model="current_city"
          input-id="city"
          label="city"
          :options="currentCityOptions"
          :reduce="city => city.code"
          :clearable="false"
          select-on-tab
          :class="[errors[0] && errors[0].length ? 'is-invalid' : null]"
        />
        <div class="error-label">
          {{ errors[0] }}
        </div>
      </b-form-group>
    </ValidationProvider>

    <ValidationProvider
      v-slot="{ valid, errors, classes }"
      name="Hizmet Verdiğiniz Bölgeler"
      rules="required"
      slim
    >
      <b-form-group
        label="Hizmet Verdiğiniz Bölgeler"
        label-for="regions"
      >
        <v-select
          v-model="serving_regions"
          multiple
          input-id="regions"
          label="region"
          :options="regionsOptions"
          :reduce="region => region.code"
          :close-on-select="false"
          select-on-tab
          :class="[errors[0] && errors[0].length ? 'is-invalid' : null]"
        />
        <div class="error-label">
          {{ errors[0] }}
        </div>
      </b-form-group>
    </ValidationProvider>

    <b-form-checkbox
      v-model="x"
      name="subscription"
    >
      Güncel satın alma taleplerinden e-posta ile haberdar olmak istiyorum
    </b-form-checkbox>

    <b-form-checkbox
      v-model="y"
      name="request"
    >
      Diğer üyelerin benden teklif talebinde bulunabilmelerini istiyorum
    </b-form-checkbox>

    <footer class="d-flex align-items-center justify-content-between mt-3">
      <b-link @click="$router.push({ name: 'ProfessionFormStepTwo' })">
        <fa5-icon
          class="mr-1 fa-sm"
          :icon="['far', 'chevron-left']"
        />Geri
      </b-link>
      <b-button
        class="ml-auto px-3"
        variant="primary"
        type="submit"
        @click="handleStepThree"
      >
        Tamamla
        <fa5-icon
          class="ml-2 fa-sm"
          :icon="['far', 'check']"
        />
      </b-button>
    </footer>
  </div>
</template>

<script>
export default {
  name: "ProfessionFormStepThree",
  data() {
    return {
      currentCityOptions: [
        {
          city: "Ankara",
          code: "06"
        },
        {
          city: "İstanbul",
          code: "34"
        }
      ],
      regionsOptions: [
        {
          region: "Marmara Bölgesi",
          code: "mb"
        },
        {
          region: "İç Anadolu Bölgesi",
          code: "iab"
        },
        {
          region: "Doğu Anadolu Bölgesi",
          code: "dab"
        },
        {
          region: "Güneydoğu Anadolu Bölgesi",
          code: "gdab"
        }
      ],
      // Work Data
      current_city: "",
      serving_regions: [],
      x: false,
      y: false
    };
  },
  methods: {
    handleStepThree() {
      this.$store.dispatch("professionForm/setWorkData", {
        current_city: this.current_city,
        serving_regions: this.serving_regions,
        x: this.x,
        y: this.y
      });
    }
  }
};
</script>
